@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
ul {
  list-style: none;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
img,
picture {
  max-width: 100%;
  display: block;
}
textarea:not([rows]) {
  min-height: 10em;
}
